/* utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth;
}
/* header */
#navigator{
    list-style: none;
    display: inline-block;
    background-color: transparent;
    position: fixed;
    right: 0;
    bottom: 50%;
    z-index: 2;
    transform: translateY(50%);
    margin-right: 15px;
}

#navigator a{
    text-decoration: none;
    color: black;
    display: inline-block;
    background-color: white;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 0 5px black;
}
/* body */

#bg-red{
    height: 100vh;
    background-color: red;
    position: relative;
}

#bg-red .img1 img{
    height: 350px;
    position: absolute;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#bg-red .text{
    font-size: 20px;
    color: yellow;
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* green section */

#bg-green{
    height: 100vh;
    background-color: green;
    position: relative;
}

#bg-green .img1 img{
    height: 350px;
    position: absolute;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#bg-green .text{
    font-size: 20px;
    color: yellow;
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* yellow section */

#bg-yellow{
    height: 100vh;
    background-color: yellow;
    position: relative;
}

#bg-yellow .img1 img{
    height: 350px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#bg-yellow .text{
    font-size: 20px;
    color:green;
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}